<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Commynity blog</title>
</head>
<body>

<h1>Community blog</h1>

<div sec:authorize="hasRole('USER')" >
    Has role user
</div>
<div sec:authorize="hasRole('ADMIN')" >
    Has role admin
</div>

Logged user: <span sec:authentication="name">Ihor</span>

<p th:if="${@permissionService.isUserInAnyRole('ADMIN', 'USER')}">
    You are logged in. Welcome!
</p>

<ol>
    <li th:if="${@permissionService.isUser()}">
        <a>Access link for user</a>
    </li>
    <li th:if="${@permissionService.isAdmin()}">
        <a th:href="@{/admin/users}">Edit users</a>
    </li>
</ol>
</body>
</html>