<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body class="text-center">
<form class="form-signin" method="post" th:action="@{/login}">
    <h1>Please sign in</h1>
    Email:
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    Password:
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    <br>
    <p>
        <a th:href="@{/signup}">Sign Up</a>
    </p>
</form>
</body>
</html>